{% trans_default_domain 'FOSUserBundle' %}


<div class="row">
    <div class="col-md-4 col-md-offset-4 profile__zoneTexte info__edit home__form">
        <h4 class="block__title">Modifie tes infos :</h4>
        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
        </form>
    </div>
</div>
