{% extends "CryptYOHomeBundle::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4 profile__zoneTexte">

            <h4 class="valid_inscription"><i class="fa fa-check"></i> Inscription réussie.</h4>
            <div class="message__recu">
                <p>
                    Bienvenue <span id="pseudo__inscrit">{{ user.username }}</span> !
                    <a class="btn btn-primary btn__retour" href={{ path('fos_user_profile_show') }}>Voir ton profil</a>
                </p>
            </div>
        </div>

    </div>
{% endblock %}
