a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

body {
    padding-bottom: 50px;
}

.banniere {
    min-height:80px;
    background-color: #81B3CC;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.btn-inscr {
    margin-top: 35px;
    margin-bottom: 20px;
    padding-left: 50px!important;
    padding-right: 50px;
    font-size: 1.5em;
}
.btn-send {
    padding-left: 10px!important;
    padding-right: 10px;
    width: 20%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.home__form {
    text-align: right;
    color: black;
    background-color: #88C3E0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.home__form label {
    color: white;
}

.header__logo {
    width: 80px;
    margin-top: 2px;
    margin-left: 20px;
    float: left;
}

.header__logged {
    background-color: #88C3E0;
    text-align: center;
}

.header__logged h3{
    color: white;
    margin-top: 10px;
}
.header__logout {
    background-color: #88C3E0;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.header__logout a{
    color: white;
    font-size: 1.5em;
}



@font-face {
    font-family: 'logo__font';
    src: url('../fonts/logo__header.ttf');
}
.logo a {
    font-family: 'logo__font', 'Roboto', sans-serif;
    color: white;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}
.banniere input, .info__edit input {
    background-color: white!important;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding-left: 5px;
}
.banniere .home__form label {
    color: white;
}
.banniere .home__form button{
    width: 187px;
}

.profile__info{
    background-color: #C8E6F5;
    min-height: 100px;
    padding: 10px;
}
.profile__info a {
    line-height: 20px;
}

.home__form h4, .profile__info h4, .profile__notification h4, .profile__zoneTexte h4{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    padding: 6px 12px;
    background-color: #81B3CC;
}
.profile__info p {
    line-height: 12px;
}
.profile__notification {
    min-height: 200px;
    padding: 10px;
    padding-top:0;
}
.profile__zoneTexte {
    background-color: #C8E6F5;
    margin-top: 20px;
    padding: 10px;
}
.form__destinataire {
    margin-top: 10px;
}

.flash-notice {
    text-align: center;
    font-size: 1.2em;
}

td {
    font-size: 1em;
    border: solid 2px #81B3CC;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
th {
    border: solid 2px #81B3CC;
    font-size: 1em;
    text-align: center;
}
table {
    margin:auto;
}
.td__message{
    color: #0C83BF;
    cursor: pointer;
}
.input__id {
    width: 70px!important;
}
.input__sel {
    width: 120px!important;
}
.input-group-addon{
    width:0;
}
.input-group{
    margin: auto;
}
.input__save {
    float: left;
    height: 34px;
}
.decrypt__zone {
    margin-top: 10px;
}
.row__sendMessage {
    background-color: #C8E6F5;
    padding-top: 5px;
    padding-bottom: 5px;
}
.row__seeMessage {
    margin-top: 20px;
    background-color: #C8E6F5;
}
.row__sendMessage h4{
    margin-bottom: 10px;
}
.message__recu {
    text-align: center;
    font-size: 2em;
}

.btn__retour {
    float: right;
    margin-top: 10px;
}

.btn__retour2 {
    float: left;
    margin-top: 10px;
}

.btn__record {
    margin-top: 10px;
}

.fields__register {
    display: block;
    margin: 0 auto;
}
.btn__next{
    float: right;
}


.info__edit{
    text-align: right;
    background-color: #88C3E0;
}
.info__edit input{
    margin-left: 10px;
}

h4 {
    color: white;
}

.plus__message {
    text-align: center;
    margin-top: 10px;
    font-size: 1.1em;
}
.switch__page{
    padding:20px;
}
#closeCross {
    float:right;
}
#closeCross a{
    color: white;
}
#openCross {
    float:right;
}
#openCross a{
    color: white;
}

.fos_user_registration_register label{
    margin-right:10px;
}
.fos_user_registration_register input{
    width: 200px;
}
.home__form .block__title {
    background-color: #337AB7;
}
