{% extends "::base.html.twig" %}

{% block title %}AcmeTestBundle:Test:Afficher{% endblock %}

{% block body %}
<h1>Welcome to the Test:Afficher page</h1>

    <a href="{{ path('_afficher') }}">Test</a>

    {{ name }}
{% endblock %}
